$theme_color = #e67e22
$theme_light_color = #f39c12

$container_width = 960px
$global_margin = 20px
$global_easing_enter = cubic-bezier(0.215, 0.61, 0.355, 1)
$global_easing_leave = cubic-bezier(0.55, 0.055, 0.675, 0.19)

$header_height = 75px
$shop_info_height = 300px
$cart_normal_height = 13em

press-shadow-1() {
    box-shadow inset 0 2px 2px rgba(0, 0, 0, 0.5)
}

hover-shadow-1() {
    box-shadow 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
}

hover-shadow-2() {
    box-shadow 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.25)
}

hover-shadow-3() {
    box-shadow 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)
}

hover-shadow-4() {
    box-shadow 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)
}

hover-shadow-5() {
    box-shadow 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22)
}

html, body {
    margin 0
    padding 0
    background #eee
    width 100%
    height 100%
    position relative
    overflow hidden
}

h3, h4 {
    margin 0
}

header {
    $header_title_size = 2rem

    hover-shadow-3()

    background $theme_color
    height $header_height
    left 0
    line-height $header_height
    position fixed
    top 0
    width 100%
    z-index 10

    #header-back {
        border-radius 1em
        color grey
        cursor pointer
        display block
        font-size $header_title_size
        height 2em
        left -2em
        line-height 2em
        position absolute
        text-align center
        top calc(100% + 1em)
        transition all 500ms $global_easing_enter
        width 2em

        &:hover {
            transition-duration 300ms
            background white
        }

        &:active {
            transition-duration 0
            background grey
        }
    }

    &.subheader {
        #header-back {
            left 1em
        }
    }

    .header-right {
        color white
        position absolute
        right 1.5em
        top 0

        &.header-login {
            cursor pointer
        }
    }

    .header-item {
        margin 0
        position relative
        height $header_height
        line-height $header_height

        &#header-title {
            color white
            position absolute
            left 0
            font-size $header_title_size
            font-weight 700
            margin-left 1em
        }

        &#search-bar {
            $search_bar_width_min = 300px
            $search_input_height = $header_title_size

            display block
            margin 0 auto
            min-width $search_bar_width_min
            position relative
            width 50%

            .search-input {
                background $theme_light_color
                border 0
                border-radius ($search_input_height / 2)
                box-sizing border-box
                color white
                display block
                font-size 1rem
                height $search_input_height
                margin 0
                outline 0
                padding 1em
                position absolute
                top "calc((%s - %s) / 2)" % ($header_height $search_input_height)
                width 100%
            }

            .search-button {
                background transparent
                border 0
                border-radius ($search_input_height / 2)
                color white
                display block
                height $search_input_height
                line-height $search_input_height
                margin 0
                outline 0
                padding 0
                position absolute
                right 0
                text-align center
                top "calc((%s - %s) / 2)" % ($header_height $search_input_height)
                transition all .3s
                width $search_input_height

                &:hover {
                    background white
                    color $theme_color
                }
            }
        }
    }
}

.scroller {
    margin-top $header_height
    height "calc(100vh - %s)" % $header_height
    width 100vw
    overflow auto
    position absolute
    top 0
    left 0
}

.scene {
    width $container_width
    margin auto
    position relative
}

ol.scene {
    list-style none
    padding 0
}

.scroller {
    &.scene-enter {
        #shops {
            opacity 0
        }
    }

    &.scene-enter-active {
        #shops {
            opacity 1
            transition all 500ms $global_easing_leave
        }
    }

    &.scene-leave {
        #shops {
            opacity 1
        }
    }

    &.scene-leave-active {
        #shops {
            opacity 0
            transition all 300ms $global_easing_enter
        }
    }
}

@keyframes spin {
    from {
        transform rotate(0deg)
    }
    to {
        transform rotate(360deg)
    }
}

.list-footer {
    width 50%
    height 3em
    line-height 3em
    text-align center
    position absolute
    left 50%
    bottom (2 * $global_margin)
    margin-left -25%
    transition all 500ms $global_easing_enter

    &.list-footer-enter {
        margin-top 3em
        opacity 0
    }

    &.list-footer-enter-active {
        margin-top 0
        opacity 1
        transition all 500ms $global_easing_enter
    }

    &.list-footer-leave {
        margin-top 0
        opacity 1
    }

    &.list-footer-leave-active {
        margin-top -3em
        opacity 0
        transition all 300ms $global_easing_enter
    }
}

.list-fetching {
    color rgba(0, 0, 0, 0.3)
    animation 3s linear spin
}

.list-ended {
    background rgba(0, 0, 0, 0.3)
    color #eee
    border-radius 3px
}

.list-ended:after {
    content "下面没有了"
}

#shops {
    z-index 1
    padding-bottom calc(3em + 60px)
}

.shop-card {
    $shop_card_height = 200px
    $shop_card_padding = 20px
    $shop_card_margin = $global_margin

    hover-shadow-1()

    background #F8F8F8
    border-radius 3px
    box-sizing border-box
    cursor pointer
    display inline-block
    height $shop_card_height
    margin $shop_card_margin
    overflow hidden
    padding $shop_card_padding
    padding-left ($shop_card_height + $shop_card_padding)
    position relative
    transition-property all
    transition-timing-function $global_easing_enter
    transition-duration 300ms
    user-select none
    width ($container_width / 2 - 2 * $shop_card_margin)

    &:hover {
        hover-shadow-3()

        background white
    }

    &:active {
        hover-shadow-2()

        background #eee
    }

    &.shop-card-enter {
        top 100px
        opacity 0

        &.shop-card-enter-active {
            top 0
            opacity 1

            &.delay-1 { transition-delay: 50ms }
            &.delay-2 { transition-delay: 100ms }
            &.delay-3 { transition-delay: 150ms }
            &.delay-4 { transition-delay: 200ms }
            &.delay-5 { transition-delay: 250ms }
            &.delay-6 { transition-delay: 300ms }
            &.delay-7 { transition-delay: 350ms }
            &.delay-8 { transition-delay: 400ms }
            &.delay-9 { transition-delay: 450ms }
        }
    }

    .shop-photo {
        position absolute
        top 0
        left 0
        width $shop_card_height
        height $shop_card_height
    }
}

.shop-info {
    hover-shadow-1()

    position relative
    margin 0 $global_margin $global_margin $global_margin
    background white
    height $shop_info_height
    padding $global_margin
    padding-left $shop_info_height + $global_margin
    box-sizing border-box

    .shop-photo {
        position absolute
        top 0
        left 0
        height $shop_info_height
        width $shop_info_height
    }
}

ol.item-list {
    $item_card_margin = $global_margin
    $item_card_width = (($container_width - $global_margin) / 4 - $item_card_margin)
    $item_number_height = 30px

    list-style none
    padding 0
    padding-bottom calc(3em + 40px)
    margin ($global_margin * 2) ($global_margin / 2) 0 ($global_margin / 2)
    user-select none
    -webkit-user-select none
    position relative
    transition all 500ms $global_easing_enter

    &.item-reserve-for-cart {
        padding-bottom "calc(%s * 3 + %s)" % ($global_margin $cart_normal_height)

        .list-footer {
            bottom "calc(%s * 1.5 + %s)" % ($global_margin $cart_normal_height)
        }
    }

    .item-card {
        display inline-block
        width $item_card_width
        height ($item_card_width * 1.5)
        margin 0 ($item_card_margin / 2) ($item_card_margin * 2) ($item_card_margin / 2)
        position relative
        box-sizing border-box
        transition all 300ms $global_easing_enter

        .item-card-inner {
            hover-shadow-1()

            background #F8F8F8
            position absolute
            top 0
            width 100%
            height ($item_card_width * 1.5)
            transition all 300ms $global_easing_enter
            padding $global_margin
            padding-top ($item_card_width + $global_margin)
            box-sizing border-box
            overflow hidden

            .item-photo {
                position absolute
                width $item_card_width
                height $item_card_width
                top 0
                left 0
            }

            .item-number {
                display block
                position absolute
                width 100%
                height $item_number_height
                left 0
                bottom (- $item_number_height)
                transition all 300ms $global_easing_enter

                .item-number-button, .item-number-input {
                    display inline-block
                    height $item_number_height
                    box-sizing border-box
                    font-size 1.5rem
                    text-align center
                    background $theme_light_color
                    color white
                }

                .item-number-button {
                    width 30%
                    line-height $item_number_height
                    cursor pointer
                }

                .item-number-input {
                    width 40%
                    border none
                    transition all 300ms $global_easing_enter
                    font-size 1em
                    padding 0
                    vertical-align bottom

                    &:hover, &:focus, &:active {
                        press-shadow-1()
                        outline 0
                    }
                }
            }

            &:hover, &:focus, &.selected {
                hover-shadow-2()

                background white
                top (- $item_number_height / 2)
                height ($item_card_width * 1.5 + $item_number_height)

                .item-number {
                    bottom 0
                }
            }

            &:hover {
                hover-shadow-3()
            }
        }

        &.item-card-enter {
            top 300px
            opacity 0

            &.item-card-enter-active {
                top 0
                opacity 1

                &.delay-1 { transition-delay: 100ms }
                &.delay-2 { transition-delay: 200ms }
                &.delay-3 { transition-delay: 300ms }
                &.delay-4 { transition-delay: 400ms }
                &.delay-5 { transition-delay: 500ms }
                &.delay-6 { transition-delay: 600ms }
                &.delay-7 { transition-delay: 700ms }
            }
        }
    }
}

.scroller {
    &.scene-enter {
        .shop-info {
            top - $shop_info_height
            opacity 0
        }
    }

    &.scene-enter-active {
        .shop-info {
            top 0
            opacity 1
            transition all 500ms $global_easing_enter
        }
    }

    &.scene-leave {
        .shop-info {
            top 0
            opacity 1
        }

        .item-list {
            top 0
            opacity 1
        }
    }

    &.scene-leave-active {
        .shop-info {
            top - $shop_info_height
            opacity 0
            transition all 300ms $global_easing_leave
        }

        .item-list {
            top 300px
            opacity 0
            transition all 300ms $global_easing_leave
        }
    }
}

#shop {
    z-index 2
}

#cart {
    $cart_width = ($container_width - 2 * $global_margin)
    $cart_hover_height = $cart_normal_height + 3em

    hover-shadow-2();

    position absolute
    width $cart_width
    height $cart_normal_height
    background white
    z-index 8
    box-sizing border-box
    padding $global_margin
    left 50%
    margin-left (- $cart_width / 2)
    transition all 300ms $global_easing_enter
    overflow hidden

    &.hidden-cart {
        opacity 0
        top 110vh
        transition-timing-function $global_easing_leave
    }

    &.show-cart {
        opacity 1
        top "calc(100vh - %s)" % $cart_normal_height
    }

    &.show-cart:hover, &.promote-cart, &.login-cart {
        hover-shadow-3()

        height $cart_hover_height
        top "calc(100vh - %s)" % $cart_hover_height
    }

    h3 {
        color $theme_color
    }

    .cart-total {
        float right

        &:before {
            content "总计："
            color grey
        }
    }

    .cart-bottom-line {
        height 3em
        width 100%
        line-height 3em
        padding 0 1em
        transition all 300ms $global_easing_enter
        position absolute
        bottom -3em
        left 0
        box-sizing border-box
        background $theme_light_color
        color white
        overflow hidden

        .cart-button {
            display inline-block
            float right
            margin-left 1em
            cursor pointer
            line-height 1em
            height 1em
            margin-top .5em
            padding .5em

            &:hover {
                hover-shadow-1()
                transition all 300ms $global_easing_enter
            }

            &:active {
                press-shadow-1()
            }
        }

        &.cart-bottom-line-login {
            height $cart_hover_height
            bottom 0
            background $theme_color
            color white
            padding 2em

            h3 {
                color white
            }

            .cart-bottom-line-login-form {
                display block
                width 50%
                margin auto
                position relative
                padding 1em
            }

            .cart-bottom-line-login-line {
                display block
                margin 0
                margin-bottom .5em
                width 100%
                position relative
            }

            label {
                display inline-block
                width 20%

                &:after {
                    content "："
                }
            }

            .cart-bottom-line-login-input {
                display inline-block
                border 0
                padding 0.5em
                background $theme_light_color
                box-sizing border-box
                color white
                width 80%
                font-size 1rem
            }

            .cart-bottom-line-login-button {
                display inline-block
                float right
                margin-left 1em
                cursor pointer

                &.left {
                    float left
                    margin-left 0
                }
            }
        }

        &.cart-bottom-line-enter {
            height 0
            bottom 0
        }

        &.cart-bottom-line-enter-active {
            height 3em
        }

        &.cart-bottom-line-leave {
            height 3em
            bottom 0
        }

        &.cart-bottom-line-leave-active {
            height 0
            bottom 3em
        }
    }

    &.show-cart:hover, &.promote-cart {
        .cart-bottom-line {
            bottom 0
        }

        .cart-list {
            height calc(100% - 5em)
        }
    }
}

.cart-list {
    list-style none
    padding 0
    height calc(100% - 2em)
    overflow auto
    transition all 300ms $global_easing_enter

    .cart-item {
        display block
        height 2em
        line-height 2em
        position relative
        overflow hidden

        &.cart-list-enter {
            height 0
            opacity 0
        }

        &.cart-list-enter-active {
            height 2em
            opacity 1
            transition all 300ms $global_easing_enter
        }

        &.cart-list-leave {
            height 2em
            opacity 1
        }

        &.cart-list-leave-active {
            height 0
            opacity 0
            transition all 300ms $global_easing_enter
        }
    }

    .cart-item-column {
        display inline-block

        &:before, &:after {
            color grey
        }
    }

    .cart-item-name {
        width 50%
    }

    .cart-item-price {
        width 20%
        text-align right

        &:after {
            content " 软妹币 "
        }
    }

    .cart-item-number {
        width 10%

        &:before {
            content " x "
        }
    }

    .cart-item-equal {
        width 5%
        text-align right
    }

    .cart-item-total {
        width 15%
        text-align right

        &:after {
            content " 软妹币"
        }
    }
}
